[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
django = "*"
pillow = "*"
social-auth-app-django = "*"
sorl-thumbnail = "*"

[requires]
python_version = "3.6"
